name: Frontend CI/CD

on:
  push:
    paths:
      - 'frontend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install & Build React
        run: |
          cd frontend
          npm install
          npm run build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AKIA5Y3BHOZNLVPA7SHG }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Deploy to S3
        run: aws s3 sync frontend/build/ s3://my-devops-react-frontend --delete

      - name: Invalidate CloudFront Cache
        run: |
          # Replace YOUR_DISTRIBUTION_ID with the actual ID from the AWS Console
          aws cloudfront create-invalidation --distribution-id E174EHPQC1CLLI --paths "/*"
